%h2 
- @articles.each do |article|
    .card
        .card_top
            .card_top_user
                = image_tag 'default-avatar.jpeg', class: 'icon'
                = article.user.display_name
            .card_top_detail
                = article.created_at.strftime('%Y/%m/%d')
                .dropdown
                    %i.fas.fa-ellipsis-h
                    .dropdown-content.mini
                        = link_to '編集する' , edit_article_path(article)
                        = link_to '削除する', article_path(article), data: { method: 'delete', confirm: '本当に削除してもよろしいですか'}
        .card-body
            .h3.card-title= article.title
            .h4.card-text= article.content